{% extends "base.html" %}

{% block css %}
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"> -->
<style>
    #map { 
    height: 50%;
    width: 60%;
    margin: auto;
    }
    
    /* Optional: Makes the sample page fill the window. */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    
    #header{
    margin: -7px 0px 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e6e6e6;
    }
    
    #title{
    font-size: 45px;
    text-align: center;
    }
    
    .grid-container {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-gap: 10px;
    }

    .grid-child{
        text-align: center;
    }
    
    #options{
    padding: 8px 3px 8px 8px;
    border-color: #ababab;
    border-radius: 4px;
    color: #333333;
    font-size: 13px;
    }
   </style>
{% endblock %}


{% block title %}Home page{% endblock %}



{% block heatMapBlock %}
<body>
    <div id="header">
    <header id="title">Global - Virus Tracking Map</header>
     </div>
    <div id="map"></div>
    
    <script>
        //HEAT MAP USED FROM https://developers.google.com/maps/documentation/javascript/heatmaplayer
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 0, lng: 0},
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');

        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'map.geojson';
        document.getElementsByTagName('head')[0].appendChild(script);

      }

      
      function eqfeed_callback(results) {
        var heatmapData = [];
       
        for (var key of Object.keys(results)) {
           console.log(results[key].Total_Cases);


           var latLng;
          var rating ;
          var weights; 
           
            
             latLng = new google.maps.LatLng(results[key].Latitude, results[key].Longitude);
             rating = results[key].Total_Cases;
             
           
          
          console.log(rating);
            if (rating >= 100000){
                weights = 1000;

                 
                

                heatmapData.push({location: latLng,weight: weights});
            }else if (50000 <= rating && rating < 100000){
                weights = 100;
                heatmapData.push({location: latLng,weight: weights});
            }

            
        }

        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          dissipating: false,
          radius: 1,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvrxhQqErBmsb8QcvMZT8hAmW8s0yB47I&libraries=visualization&callback=initMap">
    </script>
  </body>
{% endblock %}

{{country1}}

{% block chart %}
<br>
<div class="grid-container">

    <div class="grid-child">

        <canvas id="myChart" style="margin:auto"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        
    </div>
    <div class="grid-child">
        <br>
        <br>
        
            <select name="options" id="options">
                <option value="Total_Cases">Total Cases</option>
                <option value="New_Cases">New Cases</option>
                <option value="New_Deaths">New Deaths</option>
                <option value="Total_Recovered">Total Recovered</option>
                <option value="Active Cases">Active Cases</option>
            </select>
       
    </div>
</div>
<script>
    //get current option name
    var optionName = document.getElementById('options').value;
    console.log(optionName);


    
    var ctx = document.getElementById('myChart').getContext('2d');
    ctx.canvas.width = 450;
    ctx.canvas.height = 300;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            //get countryNames
            labels: ['{{country1}}','{{country2}}', '{{country3}}', '{{country4}}', '{{country5}}'],
            datasets: [{
                label: optionName,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: ['{{value1}}', '{{value2}}', '{{value3}}', '{{value4}}', '{{value5}}']
            }]
        },

        // Configuration options go here
        options: {
            responsive: false,
            maintainAspectRatio: true
        }
    });
    </script>
{% endblock %}